body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu {
  border-bottom: 1px solid #eee;
}

.list {
  list-style-type: none;
  padding: 0 10px;
  display: flex;
}

.list li {
  margin-right: 10px;
}

.list li a {
  text-decoration: none;
  color: #000;
}
